<div class="logout-container">
    <div class="search-head searchHead-holder signoff-txt"> SIGN OFF
        <div class="back-arrow" (click)='backToLogin()'>
            <img src="assets/svg/double-left-chevron.svg">
        </div>
    </div>
    <div class="signout-container shadow">
        <div class="msg-design">
            <div class="white-line1"></div>
            <div class="white-line2"></div>
            <div class="arrow"></div>

        </div>
        <div class="signedout-txt signout-txt-shadow">Signed Out Successfully</div>
        <div class="black-bar"></div>
    </div>
</div>